In [1]:
%cd ..

/home/ivanstefanov/Repositories/used-cars-price-prediction

In [2]:
import pandas as pd

In [3]:
from price_predictor.prepare_data import get_numerical, get_numerical_and_boolean, split_train_test_valid
from price_predictor.evaluate import evaluate_model, evaluate

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
import tensorflow.keras as tf
import tensorflow.keras.layers

2023-02-03 19:07:26.941173: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-03 19:07:27.238100: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-02-03 19:07:27.238131: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-02-03 19:07:28.925455: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-02-03 19:07:28.925651: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-02-03 19:07:28.925668: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [6]:
data_all = pd.read_csv('data/cars.csv')
data_all

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [7]:
data_all.dropna(inplace=True)

In [8]:
data = get_numerical(data_all)
data

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed
0,190000,2010,2.5,10900.00,9,13,16
1,290000,2002,3.0,5000.00,12,54,83
2,402000,2001,2.5,2800.00,4,72,151
3,10000,1999,3.0,9999.00,9,42,86
4,280000,2001,2.5,2134.11,14,7,7
...,...,...,...,...,...,...,...
38526,290000,2000,3.5,2750.00,5,85,301
38527,321000,2004,2.2,4800.00,4,20,317
38528,777957,2000,3.5,4300.00,3,63,369
38529,20000,2001,2.0,4000.00,7,156,490
38530,297729,2000,2.4,3200.00,4,73,632

In [9]:
scaler = MinMaxScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [10]:
data_scaled

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed
0,0.190000,0.883117,0.294872,0.217984,0.094118,0.006452,0.007168
1,0.290000,0.779221,0.358974,0.099982,0.129412,0.028495,0.037186
2,0.402000,0.766234,0.294872,0.055981,0.035294,0.038172,0.067652
3,0.010000,0.740260,0.358974,0.199964,0.094118,0.022043,0.038530
4,0.280000,0.766234,0.294872,0.042663,0.152941,0.003226,0.003136
...,...,...,...,...,...,...,...
38516,0.290000,0.753247,0.423077,0.054981,0.047059,0.045161,0.134857
38517,0.321000,0.805195,0.256410,0.095982,0.035294,0.010215,0.142025
38518,0.777957,0.753247,0.423077,0.085982,0.023529,0.033333,0.165323
38519,0.020000,0.766234,0.230769,0.079982,0.070588,0.083333,0.219534
38520,0.297729,0.753247,0.282051,0.063981,0.035294,0.038710,0.283154

In [11]:
X_train, X_test, X_valid, y_train, y_test, y_valid = split_train_test_valid(data_scaled)

In [12]:
len(X_train.columns)

6

In [13]:
model = tf.Sequential()
model.add(tf.layers.Dense(len(X_train)))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(1, activation='linear'))

2023-02-03 19:07:32.585842: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-02-03 19:07:32.585893: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-02-03 19:07:32.585924: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (vostro-mint): /proc/driver/nvidia/version does not exist
2023-02-03 19:07:32.586393: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
model.compile(loss='mean_absolute_error', optimizer='adam')

In [15]:
model.fit(X_train, y_train, batch_size = 32, epochs=10)

Epoch 1/10
542/542 [==============================] - 52s 93ms/step - loss: 0.0474
Epoch 2/10
542/542 [==============================] - 52s 97ms/step - loss: 0.0404
Epoch 3/10
542/542 [==============================] - 56s 103ms/step - loss: 0.0401
Epoch 4/10
542/542 [==============================] - 54s 100ms/step - loss: 0.0389
Epoch 5/10
542/542 [==============================] - 51s 95ms/step - loss: 0.0384
Epoch 6/10
542/542 [==============================] - 54s 99ms/step - loss: 0.0382
Epoch 7/10
542/542 [==============================] - 58s 107ms/step - loss: 0.0378
Epoch 8/10
542/542 [==============================] - 52s 97ms/step - loss: 0.0379
Epoch 9/10
542/542 [==============================] - 51s 93ms/step - loss: 0.0377
Epoch 10/10
542/542 [==============================] - 52s 95ms/step - loss: 0.0374

In [16]:
evaluate_model(model, X_test, y_test)

121/121 [==============================] - 2s 14ms/step

{'mse': 0.0033034966885239813, 'r2': 0.793382938376245}

In [17]:
evaluate_model(model, X_train, y_train)

542/542 [==============================] - 6s 12ms/step

{'mse': 0.0035450559006734027, 'r2': 0.7834748173241539}

In [18]:
data = get_numerical_and_boolean(data_all)
data

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed,engine_has_gas,has_warranty,is_exchangeable,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
0,190000,2010,2.5,10900.00,9,13,16,0,0,0,0,1,1,1,0,1,0,1,1,1
1,290000,2002,3.0,5000.00,12,54,83,0,0,1,0,1,0,0,1,1,0,0,0,1
2,402000,2001,2.5,2800.00,4,72,151,0,0,1,0,1,0,0,0,0,0,0,1,1
3,10000,1999,3.0,9999.00,9,42,86,0,0,1,1,0,0,0,0,0,0,0,0,0
4,280000,2001,2.5,2134.11,14,7,7,0,0,1,0,1,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,3.5,2750.00,5,85,301,0,0,1,0,1,0,0,1,1,0,0,1,1
38527,321000,2004,2.2,4800.00,4,20,317,0,0,1,0,1,0,0,1,1,0,0,1,1
38528,777957,2000,3.5,4300.00,3,63,369,0,0,0,0,1,0,0,1,1,0,0,1,1
38529,20000,2001,2.0,4000.00,7,156,490,0,0,1,0,1,0,0,0,0,0,0,0,1
38530,297729,2000,2.4,3200.00,4,73,632,0,0,1,0,0,0,0,0,0,0,0,0,1

In [19]:
scaler = MinMaxScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [20]:
X_train, X_test, X_valid, y_train, y_test, y_valid = split_train_test_valid(data_scaled)

In [21]:
model = tf.Sequential()
model.add(tf.layers.Dense(len(X_train)))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(1, activation='linear'))

In [22]:
model.compile(loss='mean_absolute_error', optimizer='adam')

In [23]:
model.fit(X_train, y_train, batch_size = 64, epochs=10)

Epoch 1/10
271/271 [==============================] - 30s 103ms/step - loss: 0.0614
Epoch 2/10
271/271 [==============================] - 28s 103ms/step - loss: 0.0456
Epoch 3/10
271/271 [==============================] - 29s 106ms/step - loss: 0.0429
Epoch 4/10
271/271 [==============================] - 29s 109ms/step - loss: 0.0430
Epoch 5/10
271/271 [==============================] - 28s 102ms/step - loss: 0.0424
Epoch 6/10
271/271 [==============================] - 28s 105ms/step - loss: 0.0409
Epoch 7/10
271/271 [==============================] - 28s 104ms/step - loss: 0.0395
Epoch 8/10
271/271 [==============================] - 28s 102ms/step - loss: 0.0412
Epoch 9/10
271/271 [==============================] - 29s 106ms/step - loss: 0.0391
Epoch 10/10
271/271 [==============================] - 29s 105ms/step - loss: 0.0382

In [24]:
evaluate_model(model, X_test, y_test)

121/121 [==============================] - 2s 11ms/step

{'mse': 0.003912492696191203, 'r2': 0.7668536253167239}

In [25]:
evaluate_model(model, X_train, y_train)

542/542 [==============================] - 8s 14ms/step

{'mse': 0.0036805942577360484, 'r2': 0.7799286520720076}